VITE_APP_NAME=Emerson Professional Development Group
VITE_PUBLIC_SITE_URL=https://emersonprofessionaldevelopment.netlify.app/
VITE_CLASS_REGISTRATION_FORM=https://docs.google.com/forms/d/e/1FAIpQLSfOGM0MZ05Em3O502rC9HxvK5qzW06ATQMcMX2Fgcn9xBpncQ/viewform
VITE_FEE_WAIVER_FORM=https://forms.gle/fWm9gHownQeorkNn7
